.main-container{
    margin-top: 0px;
}
.container{
    margin-left: 480px;
    margin-right: 480px;
    margin-top: 50px;
    border: 1px solid gray;
    margin-bottom: 200px;
    padding-bottom: 30px;
    width: 320px;
    height: 250px;
    text-align: center;
    justify-content: center;
    /* background-color: grey; */
}

.pass{
    padding-left: 90px;
    padding-top: 10%;
}
.bar{
    padding-left: 50px;
    padding-right: 50px;
    
}
.but{
    padding-left: 110px;
    padding-right: 110px;
    border: 1px solid grey;
    background-color: grey;
    margin-top: 20px;
    height: 25px;
}
.butt{
    display: flex;
    padding-left: 80px;
    padding-right: 60px;
    border: 1px solid grey;
    background-color: grey;
    /* margin-top: 20px; */
    height: 23px;
}
.word{
    display: inline;
    
}
.new-container{
    justify-content: center;
}
.C{
    padding-left: 20px;
    padding-right: 20px; 
}
.con{
    color:black;
}
.link{
    padding-right: 70%;
    padding-top: 40px;
}
h1{ text-align: left;}
.footer{
    border-top: 3px solid rgb(221, 20, 20);
    margin-top: 120px;
    text-align: center;
    width: 100%;
    background-color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 510px;
}
li{
    text-align: center;
    display: flex;
    padding: 5px;
}
.close-cap{
    padding-left: 540px;
    background-color: grey;
    margin-bottom: 0px;
}
.email{
    padding-right: 70px;
}